* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

html {
    text-align: center;
    color: hsl(224, 23%, 55%);
    line-height: 1.6;
    background-color: hsl(225, 100%, 94%);
}

.component {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    max-width: 325px;
    margin: 25px;
}

.comp-head img {
    width: 325px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.comp-content, .comp-subplan, .comp-btn {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.comp-content h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    margin-top: 18px;
    margin-bottom: 18px;
}

.comp-content p {
    font-weight: 500;
    line-height: 1.7;
}

.comp-subplan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px;
}

.comp-subplan h2 {
    color: hsl(223, 47%, 23%);
    font-size: 0.98em;
    line-height: 1.5;
}

.comp-subplan p {
    font-size: 0.94em;
}

.comp-subplan a {
    font-size: 0.94em;
}

.subplan-flexitem {
    text-align: left;
}

.subplan-icon {
    width: 50px;
    height: 50px;
}
