* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

html {
    text-align: center;
    color: hsl(224, 23%, 55%);
    line-height: 1.6;
    background-color: hsl(225, 100%, 94%);
}

.component {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    max-width: 326px;
    margin: 25px auto;
    box-shadow: 0 16px 24px 4px hsla(245, 79%, 24%, 0.14);
}

.comp-head img {
    width: 326px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.comp-content, .comp-subplan, .comp-btn {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.comp-content {
    padding-right: 5px;
    padding-left: 5px;
}

.comp-content h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    margin-top: 18px;
    margin-bottom: 14px;
}

.comp-content p {
    font-size: 0.98em;
    font-weight: 500;
    line-height: 1.7;
}

.comp-subplan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 15px;
}

.comp-subplan h2 {
    color: hsl(223, 47%, 23%);
    font-size: 0.94em;
    line-height: 1.4;
}

.comp-subplan p {
    font-size: 0.94em;
}

.comp-subplan a {
    font-size: 0.825em;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.subplan-flexitem {
    text-align: left;
    position: relative;
    right: 12px;
}

.subplan-icon {
    width: 48px;
    height: 48px;
}

.comp-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.comp-btn button {
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: hsl(245, 75%, 52%);
    font-size: 0.95em;
    font-weight: 700;
    margin-bottom: 20px;
    box-shadow: 0 11px 14px 4px hsla(245, 75%, 52%, 0.2);
}

.comp-btn button a {
    color: white;
}

.comp-btn a {
   font-size: 0.97em;
   font-weight: 700;
   color: hsl(224, 23%, 55%); 
   text-decoration: none;
}